.card {
    background: white;
    padding: 15px;
    margin: 7px;
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    position: relative;
    min-width: 30% !important;
}